<!DOCTYPE html>
<html>
  <head>
    <title>PeetambaraKinkar</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>MPCT</title>
    <meta name="description" content="website description" />
    <meta name="keywords" content="website keywords, website keywords" />
    <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
    <!--<link rel="stylesheet" type="text/css" href="style/style.css" title="style" />-->

  </head>


  <body>

  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <!--<img alt="logo" class="logo_img" src="/assets/kjll.JPG">-->
          <h1><img alt="logo" class="logo_img" src="/assets/kjll.JPG"><a href="/homes"><span class="logo_colour">    Maa Peetambara Charitable Trust Gaya</span></a></h1>
          <h5>    ॐ ह्रीं सर्व दुष्टानाम वाचं मखम पदम् स्तम्भय
            जिव्हां कीलय बुद्धिम विनाशय ह्रीं ॐ स्वाहाi</h5>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/homes">Home</a></li>

          <li><a href="/about_our_puja">ABOUT OUR PUJA</a></li>
          <!--<li><a href="/current_committee">CURRENT COMMITTEE</a></li>-->
          <!--<li><a href="/sub_committee">SUB COMMITTEE</a></li>-->
          <li><a href="/members">MEMBERS</a></li>
          <!--<li ><a href="/support_us">Support Us</a></li>-->
          <li ><a href="/contacts_us">Contact Us</a></li>
        </ul>
      </div>
    </div>

  <!--<nav class="navbar navbar-inverse">-->
    <!--<div class="container-fluid">-->
      <!--<div class="navbar-header">-->
        <!--<a class="navbar-brand" href="/homes">mpctgaya</a>-->
      <!--</div>-->
      <!--<ul class="nav navbar-nav">-->
        <!--<li class="active"><a href="/homes">Home</a></li>-->
        <!--<li class="dropdown">-->
          <!--<a class="dropdown-toggle" data-toggle="dropdown" href="#">ABOUT US-->
            <!--<span class="caret"></span></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="/about_our_puja">ABOUT OUR PUJA</a></li>-->
            <!--<li><a href="/current_committee">CURRENT COMMITTEE</a></li>-->
            <!--<li><a href="/sub_committee">SUB COMMITTEE</a></li>-->
            <!--<li><a href="/members">MEMBERS</a></li>-->
          <!--</ul>-->
        <!--</li>-->
        <!--<li><a href="/support_us">SUPPORT US</a></li>-->
        <!--<li><a href="/contacts_us">CONTACT US</a></li>-->
      <!--</ul>-->
      <!--&lt;!&ndash;<form class="navbar-form navbar-left" action="/action_page.php">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="input-group">&ndash;&gt;-->
          <!--&lt;!&ndash;<input type="text" class="form-control" placeholder="Search" name="search">&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="input-group-btn">&ndash;&gt;-->
            <!--&lt;!&ndash;<button class="btn btn-default" type="submit">&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="glyphicon glyphicon-search"></i>&ndash;&gt;-->
            <!--&lt;!&ndash;</button>&ndash;&gt;-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
      <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--</div>-->
  <!--</nav>-->


  <%= yield %>
  <div id="content_footer"></div>
    <div id="footer">
      Copyright &copy; Maa Peetambara Charitable Trust Gaya
    </div>
  </div>
  </body>
</html>
